@import "reset";

@font-face {
	font-family: 'Dual-300';
	src: url('../fonts/Dual-300.eot');
	src: url('../fonts/Dual-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dual-300.woff') format('woff'),
		url('../fonts/Dual-300.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Dual 300';
	src: url('../fonts/Dual-300_1.eot');
	src: url('../fonts/Dual-300_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dual-300_1.woff') format('woff'),
		url('../fonts/Dual-300_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



.animateIntro {
  height: 100%;
  text-align:center;
  padding-top: 150px ;
  padding-left: 0;
  padding-right: 0;
  z-index: 2000;
};
